html, body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 0.07rem;
    line-height: 1.5em;
}

body {
    background-color: darkslateblue;
    color: white;
    padding-bottom: 3em;
    min-height: 100vh;
}

p#logo {
    font-weight: bolder;
    font-size: larger;

    text-align: center;
}

header, footer {
    background-color: black;
    padding: 1em;
}

.yellow {
    color: yellow;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer > p {
    text-align: center
}

main {
    margin: 1.5em;
    height: 100%;
}

section.one {
    display: flex
}

.section-one__title {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

section.two {
    margin-top: 1em;
}

button{
    border-radius: 5px;
}

button#show {
    margin-top: 1em;
    padding: 1em;
    background-color: transparent;
    color: yellow;
}

button#trailer {
    padding: 0.5em;
    color: white;
    background-color: transparent;
}

ul {
    margin-top: 1em;
    margin-left: 2em;
}

li {
    margin-bottom: .5em;
}

img {
    width: 120px;
    height: 180px;
    border-radius: 5px;
}

div.image {
    display: flex;
    align-items: center;
}

.grey {
    opacity: 0.7
}

a {
    color: white;
    text-decoration: none;
}

#desk{
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:0 auto;

}

.card{
    /*flex-grow: 1;*/
    font-size: smaller;
    margin:.5em;
}

.card p{
    text-align: center;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
}

.card img{
    display: block;
    margin: 0 auto;
}

button#feedbackBtn {
    background-color: transparent;
    color: white;
    border-color: white;
    padding: 5px;
}

.popup-bg{
    visibility: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0,.8);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedbackForm {
    display:flex;
    flex-direction: column;
    align-items: center;
    position:relative;
}

.closeBtn{
    position: absolute;
    transform: rotate(45deg);
    top:-1em;
    right:-.5em;
    color: yellow;
    font-size: 3em;
    cursor: pointer;
}
